@import url("https://cdn.nav.no/personoversikt/internarbeidsflate-decorator-v3/dev/latest/dist/index.css");

:root {
    --foreground-rgb: 0, 0, 0;
    --Text-Danger: #c30000;
}

html,
body {
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--a-bg-subtle);
}

a {
    color: inherit;
    text-decoration: none;
}

/* Brukes slik at typeahead-forslag legger seg over modalene de er inni */
.overflow-visible {
    overflow: visible !important;
}

/* Hack for datovelger som av en eller annen grunn har satt feil vidde i års-feltet*/
/* stylelint-disable-next-line aksel/no-class-override */
.navds-date__caption__year {
    width: unset !important;
}

dl,
dl dd,
dl dt {
    margin: 0;
}

.scroll-margin {
    scroll-margin: var(--a-spacing-18);
}

skyra-survey {
    --skyra-text-color: rgb(0, 0, 0);
    --skyra-action-color: rgb(0, 103, 197);
    --skyra-action-text-color: #000;
    --skyra-font-size: 18px;
    --skyra-font-body: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
    --skyra-font-heading: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
}

skyra-survey::part(heading) {
    font-size: 24px;
}
